<div class="modal fade" id="filtrarModal" tabindex="-1" role="dialog" aria-labelledby="filtrarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filtrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="alert alert-dark" role="alert">
                        <h4 class="alert-heading">Atenção!</h4>
                        <p>
                            A ideia é que com o sistema finalizado os dados apresentados na tela principal serão
                            mostrados de acordo com essas filtragems. Entretanto, para tal todos os dados deverão estar
                            em um banco de dados que suporte tamanho volume.

                        </p>
                        <hr>
                    </div>
                    <p>
                    </p>
                </div>
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Palavra chave:</label>
                        <input type="text" class="form-control" id="recipient-name" value="merenda" disabled>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Ano:</label>
                        <input type="text" class="form-control" id="recipient-name" value="2019" disabled>
                    </div>
                    <!-- <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Data inicio:</label>
                        <input type="text" class="form-control" id="recipient-name" value="merenda" disabled>
                    </div> -->
                    <!-- <div class="form-group">
                        <label for="message-text" class="col-form-label">Mensagem:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sobreModal" tabindex="-1" role="dialog" aria-labelledby="sobreModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sobre o Licitascore</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="text-secundary animated fadeIn">
                            Pandora Team
                        </h2>
                        <div class="text-center">
                            <img src="../static/images/pandora.png" style="height: 150px;" alt="" class="img img-fluid">
                        </div>
                        <p>
                            Sistema desenvolvido por PandoraTeam para o MPRN Hackfest 2019.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>