{% extends "base.html" %}
{% block conteudo %}
<div class="row">
    <div class="col text-center">
        <h1 class="text-primary animated fadeIn">
            Sobre o Licitascore
        </h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2 class="text-secundary animated flip">
            Pandora Team
        </h2>
        <div class="text-center">
            <img src="../static/images/pandora.png" style="height: 150px;" alt="" class="img img-fluid">
        </div>
    </div>
</div>



{% endblock %}